# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [1]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [4]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [6]:
# Crear la Serie de Pandas
serie = pd.Series(lst)

# Mostrar la Serie
print(serie)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [8]:
# Imprimir el tercer valor que es index 2 porque el primer valor es index 0
print("El tercer valor es: ")
print(serie[2])

El tercer valor es:
74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [9]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [11]:
df = pd.DataFrame(b)
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [14]:
"""  
en el ejercicio 5 falta el nombre de las columnas
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']
"""
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [17]:
# Añadir colnames como nombre de columnas de df

df.columns = colnames
print(df)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [27]:
print(df.shape)

"""
.iloc[] syntax is df.iloc[rows, columns], columns are the 2nd argument
to select all the rows (everything) we need to use ":"
In .iloc[] or .loc[]:
The colon means select everything in that dimension.
: before the comma means all rows.
: after the comma means all columns.
"""

subset_columns = df.iloc[:,[0,2,4]]
print(subset_columns)

(10, 5)
   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [28]:
# Calcular el valor promedio de la columna 'Score_3'. df['Score_3']: Selecciona la columna Score_3 del DataFrame.
average_score_3 = df['Score_3'].mean()

# Mostrar el resultado
print("El valor promedio de Score_3 es:", average_score_3)

El valor promedio de Score_3 es: 56.95000000000001

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [29]:
# Calcular el valor max de la columna 'Score_4'. df['Score_4']: Selecciona la columna Score_4 del DataFrame.
max_score_4 = df['Score_4'].max()

# Mostrar el resultado
print("El valor maximo de Score_4 es:", max_score_4)

El valor maximo de Score_4 es: 88.8

### 9. Del DataFrame original, calcula la mediana valor del Score_2.

In [30]:
# Calcular la mediana de la columna 'Score_2'
median_score_2 = df['Score_2'].median()

# Mostrar el resultado
print("La mediana de Score_2 es:", median_score_2)

La mediana de Score_2 es: 40.75

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [32]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [33]:
#Crear un DataFrame de Pandas a partir del diccionario "orders"
df = pd.DataFrame(orders)
df

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [34]:
# Calcular la cantidad total pedida
total_quantity = df['Quantity'].sum()

# Calcular los ingresos generados (cantidad * precio)
total_revenue = df['Revenue'].sum()  # Sumamos los ingresos generados

# Mostrar los resultados
print("Cantidad total pedida:", total_quantity)
print("Ingresos totales generados:", total_revenue)

Cantidad total pedida: 2978
Ingresos totales generados: 637.0

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [39]:
# precio del artículo más caro
precio_max = df['UnitPrice'].max()
print("El precio maximo es: ", precio_max) 

# precio del artículo más barato
precio_min = df['UnitPrice'].min()
print("El precio minimo es: ", precio_min) 

#diferencia
diferencia_precio_max_min = precio_max - precio_min
print("la diferencia entre el precio minimo y el precio maximo es ", diferencia_precio_max_min)

El precio maximo es:  11.95
El precio minimo es:  0.18
la diferencia entre el precio minimo y el precio maximo es  11.77

## Carguemos otro conjunto de datos para más ejercicios

In [40]:
# Tu código aquí
admissions = pd.read_csv('../Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [41]:
#Evaluemos el conjunto de datos mirando la función head
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [44]:
# Verificar si hay datos faltantes en el DataFrame
"""
df.isnull(): Devuelve un DataFrame de la misma forma que el original, pero con valores True en las posiciones donde hay datos faltantes (NaN) y False donde no los hay.
.sum(): Suma los valores True (que se cuentan como 1) por cada columna, lo que da como resultado la cantidad de valores faltantes en cada columna.
"""
missing_data = admissions.isnull().sum()

# Mostrar los resultados
print("Cantidad de datos faltantes en cada columna:")
print(missing_data)

Cantidad de datos faltantes en cada columna:
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [50]:
# La columna que identifica a los solicitantes se llama 'Serial No.'
"""
Para hacer que una columna sea tanto el índice del DataFrame como parte del DataFrame, se utiliza el método set_index(). 
Este método establece la columna como índice, pero si queremos mantenerla en el DataFrame además de convertirla en índice, 
hay que usar el argumento drop=False de set_index().
"""
admissions = admissions.set_index('Serial No.', drop=False)

# Mostrar el DataFrame con la columna como índice pero aún presente
print(admissions.head())

            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
1                    1        337          118                  4  4.5   4.5
2                    2        316          104                  3  3.0   3.5
3                    3        322          110                  3  3.5   2.5
4                    4        314          103                  2  2.0   3.0
5                    5        330          115                  5  4.5   3.0

            CGPA  Research  Chance of Admit
Serial No.
1           9.65         1              0.92
2           8.00         1              0.72
3           8.67         1              0.80
4           8.21         0              0.65
5           9.34         1              0.90

In [ ]:
### 3 -  Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

In [57]:
# No es verdad que `GRE Score` y `CGPA` también identifican de manera única los datos:
"""
En la columna 'Serial no.' de 'admissions', hay 0 valores duplicados.
Pero
En la columna 'GRE Score' de 'admissions', hay 336 valores duplicados.
En la columna 'CGPA' de 'admissions', hay 217 valores duplicados.

"""
    
# Verificar si hay duplicados en la columna 'GRE Score' del DataFrame 'admissions'
duplicates_gre_score = admissions['GRE Score'].duplicated()

# Contar cuántos duplicados hay
num_duplicates_gre_score = duplicates_gre_score.sum()

# Mostrar el resultado
print(f"En la columna 'GRE Score' de 'admissions', hay {num_duplicates_gre_score} valores duplicados.")

# Verificar si hay duplicados en la columna 'CGPA' del DataFrame 'admissions'
duplicates_cgpa = admissions['CGPA'].duplicated()

# Contar cuántos duplicados hay
num_duplicates_cgpa = duplicates_cgpa.sum()

# Mostrar el resultado
print(f"En la columna 'CGPA' de 'admissions', hay {num_duplicates_cgpa} valores duplicados.")   

# Verificar si hay duplicados en la columna 'Serail No.' del DataFrame 'admissions'
duplicates_serial_no = admissions['Serial No.'].duplicated()

# Contar cuántos duplicados hay
num_duplicates_serial_no = duplicates_serial_no.sum()

# Mostrar el resultado
print(f"En la columna 'Serial no.' de 'admissions', hay {num_duplicates_serial_no} valores duplicados.")

En la columna 'GRE Score' de 'admissions', hay 336 valores duplicados.
En la columna 'CGPA' de 'admissions', hay 217 valores duplicados.
En la columna 'Serial no.' de 'admissions', hay 0 valores duplicados.

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [58]:
# Filtrar filas donde CGPA > 9 y el estudiante ha realizado investigación (Research = 'Yes')
"""
Suponiendo que cuando el estudiante ha realizado una investigación pone 1 el la columna research, y si no ha hecho research, pone 0
"""

filtered_data = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]

# Contar cuántas filas cumplen con ambas condiciones
num_rows = filtered_data.shape[0]

# Mostrar el resultado
print(f"Número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado investigación: {num_rows}")

Número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado investigación: 101

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [61]:
print(admissions.columns)

""" Jp no reconocía 'Chance of Admit' por culpa del espacio, 
por eso he hecho print columns para averiguar si lo he escrito mal
"""

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [63]:
"""
1. Filtrar las filas donde el CGPA sea mayor a 9 y la puntuación SOP sea menor a 3.5.
2. Calcular la probabilidad media de admisión para estos solicitantes.
Pasos:
1. Condición 1: CGPA > 9
2. Condición 2: SOP < 3.5
3. Calcular el promedio (average) de las valores en Chance of Admit para los solicitantes que cumplen con ambas condiciones.
"""

# Filtrar filas donde CGPA > 9 y SOP < 3.5
filtered_data = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

# Calcular la probabilidad media de admisión para estos solicitantes
mean_admission_prob = filtered_data['Chance of Admit '].mean()*100 #hay que poner el espacio

# Mostrar el resultado
print(f"La probabilidad media de admisión para los solicitantes con CGPA > 9 y SOP < 3.5 es: {mean_admission_prob}%")

La probabilidad media de admisión para los solicitantes con CGPA > 9 y SOP < 3.5 es: 80.19999999999999%