# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [3]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [4]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [5]:
serie = pd.Series(lst)

print("Serie de Pandas creada")
print(serie)

Serie de Pandas creada
0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [6]:
tercer_valor = serie[2]

print("El tercer valor de la serie es:", tercer_valor)

El tercer valor de la serie es: 74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [8]:
import pandas as pd

df = pd.DataFrame(b)

print("Data Frame creado")
print(df)

Data Frame creado
      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [10]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [11]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [12]:
df.columns = colnames

print("DataFrame con los nuevos nombres de columnas:")
print(df)

DataFrame con los nuevos nombres de columnas:
   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [13]:
subset_df = df[['Score_1', 'Score_3', 'Score_5']]

print("Subconjunto del DataFrame:")
print(subset_df)

Subconjunto del DataFrame:
   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [14]:
media_score_3 = df['Score_3'].mean()

print("El valor medio del Score_3 es:", media_score_3)

El valor medio del Score_3 es: 56.95000000000001

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [15]:
max_score_4 = df['Score_4'].max()

print("El valor máximo de Score_4 es:", max_score_4)

El valor máximo de Score_4 es: 88.8

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [16]:
median_score_2 = df['Score_2'].median()

print("La mediana del valor de Score_2 es", median_score_2)

La mediana del valor de Score_2 es 40.75

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [17]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [18]:
import pandas as pd

df_orders = pd.DataFrame(orders)

print("Data Frame creado")
print(df_orders)

Data Frame creado
                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [20]:
# Cantidad total perdida

total_quantity = df_orders['Quantity'].sum()

print("La cantidad total perdida es:", total_quantity)

# Ingresos generados

total_revenue = df_orders['Revenue'].sum()

print("Los ingresos generados son:", total_revenue)

La cantidad total perdida es: 2978
Los ingresos generados son: 637.0

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [21]:
# Encontrar el precio más caro y más barato

max_price = df_orders['UnitPrice'].max()
min_price = df_orders['UnitPrice'].min()

# Calcular la diferencia

price_difference = max_price - min_price

print("El precio más caro es:", max_price)
print("El precio más barato es:", min_price)
print("La diferencia entre el más caro y el más barato es:", price_difference)

El precio más caro es: 11.95
El precio más barato es: 0.18
La diferencia entre el más caro y el más barato es: 11.77

## Carguemos otro conjunto de datos para más ejercicios

In [22]:
# Tu código aquí
admissions = pd.read_csv('../Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [23]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [24]:
missing_values = admissions.isnull().sum()

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [25]:
admissions.set_index('Serial No.', inplace=False)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [26]:
unique_gre = admissions['GRE Score'].nunique()
unique_cgpa = admissions['CGPA'].nunique()
total_rows = admissions.shape[0]
gre_cgpa_unique = (unique_gre == total_rows) and (unique_cgpa == total_rows)

In [30]:
filtered_rows = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].shape[0]
print(filtered_rows)

101

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [31]:
filtered_admissions = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]
mean_admission_probability = filtered_admissions['Chance of Admit '].mean()

In [36]:
print(f"3er valor de la serie: {tercer_valor}")
print(f"Promedio de Score_3: {media_score_3}")
print(f"Máximo de Score_4: {max_score_4}")
print(f"Media de Score_2: {median_score_2}")
print(f"Cantidad total pedida: {total_quantity}")
print(f"Ingresos totales: {total_revenue}")
print(f"Diferencia entre precio más caro y más barato: {price_difference}")
print(f"¿GRE Score y CGPA identifican de manera única los datos? {gre_cgpa_unique}")
print(f"Número de filas con CGPA > 9 y Research = 1: {filtered_rows}")
print(f"Probabilidad media de admisión para CGPA > 9 y SOP < 3.5: {mean_admission_probability}")

3er valor de la serie: 74.4
Promedio de Score_3: 56.95000000000001
Máximo de Score_4: 88.8
Media de Score_2: 40.75
Cantidad total pedida: 2978
Ingresos totales: 637.0
Diferencia entre precio más caro y más barato: 11.77
¿GRE Score y CGPA identifican de manera única los datos? False
Número de filas con CGPA > 9 y Research = 1: 101
Probabilidad media de admisión para CGPA > 9 y SOP < 3.5: 0.8019999999999999