# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [22]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [23]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [24]:
serie = pd.Series(lst)

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [25]:
third_value = serie[2]
print(third_value)

74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [26]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [27]:
df = pd.DataFrame(b)

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [28]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [29]:
df.columns = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [30]:
subset_df = df[['Score_1', 'Score_3', 'Score_5']]

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [31]:
avg_score3 = df['Score_3'].mean()
print("Third score average:", avg_score3)

Third score average: 56.95000000000001

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [32]:
max_score4 = df['Score_4'].max()
print("Fourth score max:", max_score4)

Fourth score max: 88.8

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [33]:
mean_score2 = df['Score_2'].mean()
print("Second score mean:", mean_score2)

Second score mean: 50.11

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [34]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [35]:
orders_df = df.__dataframe__(orders)

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [36]:
total_quantity = orders_df['Quantity'].sum()
total_revenue = orders_df['Revenue'].sum()
print("Quantity:", total_quantity)
print('Revenue:', total_revenue)

TypeError: 'PandasDataFrameXchg' object is not subscriptable

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [ ]:
max_price = orders_df['UnitPrice'].max()
min_price = orders_df['UnitPrice'].min()
price_diff = max_price - min_price
print("Price difference (max/min):", price_diff)

## Carguemos otro conjunto de datos para más ejercicios

In [37]:
admissions = pd.read_csv('../Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [38]:
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [39]:
missing_data = admissions.isnull().sum()
print(missing_data)

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [40]:
admissions.set_index('Serial No.', drop=False, inplace=True)

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [41]:
print("GRE Score unique?", admissions['GRE Score'].is_unique)
print("CGPA Score unique?", admissions['CGPA'].is_unique)

GRE Score unique? False
CGPA Score unique? False

In [42]:
rows_filtered = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]
print(rows_filtered.shape[0])

101

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [22]:
# Tu código aquí