# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [1]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [5]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [6]:
serie=pd.Series(lst)
serie

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [7]:
serie[2]

74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [9]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [10]:
b2=pd.DataFrame(b)
b2

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [11]:
# b3 = pd.DataFrame(b, columns=columnas)
# Convertir en diccionario

# Nombres de las columnas
columnas = [f'score{i+1}' for i in range(len(b[0]))]

# Convertir en diccionario
dict_b = {col: [fila[i] for fila in b] for i, col in enumerate(columnas)}

# dict_b = {b3:'score1','score2','score3','score4','score5'}
print(dict_b)
print(type(dict_b))

{'score1': [53.1, 61.3, 20.6, 57.4, 83.6, 49.0, 23.3, 27.6, 96.6, 73.7], 'score2': [95.0, 40.8, 73.2, 0.1, 20.5, 69.0, 40.7, 26.4, 96.4, 39.0], 'score3': [67.5, 30.8, 44.2, 96.1, 85.4, 0.1, 95.0, 53.8, 53.4, 43.2], 'score4': [35.0, 37.8, 14.6, 4.2, 22.8, 31.8, 83.8, 88.8, 72.4, 81.6], 'score5': [78.4, 87.6, 91.8, 69.5, 35.9, 89.1, 26.9, 68.5, 50.1, 34.7]}
<class 'dict'>

In [12]:
# b3 = pd.DataFrame(b, columns=columnas)
nuevos_nombres = ['Puntuación 1', 'Puntuación 2', 'Puntuación 3', 'Puntuación 4', 'Puntuación 5']

# Renombrar las columnas del DataFrame
b3=pd.DataFrame(b2)
b3.columns = nuevos_nombres
b3
# print(type(b3))

   Puntuación 1  Puntuación 2  Puntuación 3  Puntuación 4  Puntuación 5
0          53.1          95.0          67.5          35.0          78.4
1          61.3          40.8          30.8          37.8          87.6
2          20.6          73.2          44.2          14.6          91.8
3          57.4           0.1          96.1           4.2          69.5
4          83.6          20.5          85.4          22.8          35.9
5          49.0          69.0           0.1          31.8          89.1
6          23.3          40.7          95.0          83.8          26.9
7          27.6          26.4          53.8          88.8          68.5
8          96.6          96.4          53.4          72.4          50.1
9          73.7          39.0          43.2          81.6          34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [13]:

# subset_columns = list(b3.columns)[1,3,5]
b4 = b3[['Puntuación 1', 'Puntuación 2', 'Puntuación 3']]
b4

   Puntuación 1  Puntuación 2  Puntuación 3
0          53.1          95.0          67.5
1          61.3          40.8          30.8
2          20.6          73.2          44.2
3          57.4           0.1          96.1
4          83.6          20.5          85.4
5          49.0          69.0           0.1
6          23.3          40.7          95.0
7          27.6          26.4          53.8
8          96.6          96.4          53.4
9          73.7          39.0          43.2

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [14]:
b30=b3.describe()
b30

       Puntuación 1  Puntuación 2  Puntuación 3  Puntuación 4  Puntuación 5
count      10.00000      10.00000     10.000000     10.000000     10.000000
mean       54.62000      50.11000     56.950000     47.280000     63.250000
std        25.64899      32.12204     30.168278     31.393446     24.562313
min        20.60000       0.10000      0.100000      4.200000     26.900000
25%        32.95000      29.55000     43.450000     25.050000     39.450000
50%        55.25000      40.75000     53.600000     36.400000     69.000000
75%        70.60000      72.15000     80.925000     79.300000     85.300000
max        96.60000      96.40000     96.100000     88.800000     91.800000

In [15]:
# b33=b3.describe()
b33=b3['Puntuación 3'].mean()
b33

56.95000000000001

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [16]:
b34=b3['Puntuación 3'].max()
b34

96.1

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [17]:
b32=b3['Puntuación 2'].mean()
b32

50.11

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [19]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [20]:
orders=pd.DataFrame(orders)
orders

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [21]:
perdida_total = orders['Quantity'].sum()
ingresos_generados= orders['Revenue'].sum()

print(perdida_total)
print(ingresos_generados)

2978
637.0

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [22]:
max=orders['UnitPrice'].max()
min=orders['UnitPrice'].min()

print(max,min)

11.95 0.18

## Carguemos otro conjunto de datos para más ejercicios

In [23]:
# Tu código aquí
admissions = pd.read_csv('../Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [24]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [25]:
missing_values = pd.isnull(admissions)
missing_counts = missing_values.sum()
missing_counts

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [26]:
admissions.set_index('Serial No.', drop=False, inplace=True)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
6,6,321,109,3,3.0,4.0,8.20,1,0.75
7,7,308,101,2,3.0,4.0,7.90,0,0.68
8,8,302,102,1,2.0,1.5,8.00,0,0.50
9,9,323,108,3,3.5,3.0,8.60,0,0.45
10,10,327,111,4,4.0,4.5,9.00,1,0.84
11,11,328,112,4,4.0,4.5,9.10,1,0.78
12,12,307,109,3,4.0,3.0,8.00,1,0.62
13,13,311,104,3,3.5,2.0,8.20,1,0.61
14,14,314,105,3,3.5,2.5,8.30,0,0.54
15,15,317,107,3,4.0,3.0,8.70,0,0.66
16,16,319,106,3,4.0,3.0,8.00,1,0.65
17,17,318,110,3,4.0,3.0,8.80,0,0.63
18,18,303,102,3,3.5,3.0,8.50,0,0.62
19,19,325,114,4,3.0,2.0,8.40,0,0.70
20,20,328,116,5,5.0,5.0,9.50,1,0.94
21,21,334,119,5,5.0,4.5,9.70,1,0.95
22,22,336,119,5,4.0,3.5,9.80,1,0.97
23,23,322,109,5,4.5,3.5,8.80,0,0.76
24,24,298,98,2,1.5,2.5,7.50,1,0.44
25,25,295,93,1,2.0,2.0,7.20,0,0.46
26,26,310,99,2,1.5,2.0,7.30,0,0.54
27,27,300,97,2,3.0,3.0,8.10,1,0.65
28,28,327,103,3,4.0,4.0,8.30,1,0.74
29,29,338,118,4,3.0,4.5,9.40,1,0.91
30,30,340,114,5,4.0,4.0,9.60,1,0.90
...,...,...,...,...,...,...,...,...,...
356,356,310,103,2,2.5,2.5,8.24,0,0.72
357,357,324,110,3,3.5,3.0,9.22,1,0.89
358,358,336,119,4,4.5,4.0,9.62,1,0.95
359,359,321,109,3,3.0,3.0,8.54,1,0.79
360,360,315,105,2,2.0,2.5,7.65,0,0.39
361,361,304,101,2,2.0,2.5,7.66,0,0.38
362,362,297,96,2,2.5,2.0,7.43,0,0.34
363,363,290,100,1,1.5,2.0,7.56,0,0.47
364,364,303,98,1,2.0,2.5,7.65,0,0.56
365,365,311,99,1,2.5,3.0,8.43,1,0.71
366,366,322,104,3,3.5,4.0,8.84,1,0.78
367,367,319,105,3,3.0,3.5,8.67,1,0.73
368,368,324,110,4,4.5,4.0,9.15,1,0.82
369,369,300,100,3,3.0,3.5,8.26,0,0.62
370,370,340,113,4,5.0,5.0,9.74,1,0.96
371,371,335,117,5,5.0,5.0,9.82,1,0.96
372,372,302,101,2,2.5,3.5,7.96,0,0.46
373,373,307,105,2,2.0,3.5,8.10,0,0.53
374,374,296,97,2,1.5,2.0,7.80,0,0.49
375,375,320,108,3,3.5,4.0,8.44,1,0.76
376,376,314,102,2,2.0,2.5,8.24,0,0.64
377,377,318,106,3,2.0,3.0,8.65,0,0.71
378,378,326,112,4,4.0,3.5,9.12,1,0.84
379,379,317,104,2,3.0,3.0,8.76,0,0.77
380,380,329,111,4,4.5,4.0,9.23,1,0.89
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

In [28]:
admissions.set_index('CGPA', drop=False, inplace=True)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
CGPA,,,,,,,,,
9.65,1,337,118,4,4.5,4.5,9.65,1,0.92
8.00,2,316,104,3,3.0,3.5,8.00,1,0.72
8.67,3,322,110,3,3.5,2.5,8.67,1,0.80
8.21,4,314,103,2,2.0,3.0,8.21,0,0.65
9.34,5,330,115,5,4.5,3.0,9.34,1,0.90
8.20,6,321,109,3,3.0,4.0,8.20,1,0.75
7.90,7,308,101,2,3.0,4.0,7.90,0,0.68
8.00,8,302,102,1,2.0,1.5,8.00,0,0.50
8.60,9,323,108,3,3.5,3.0,8.60,0,0.45
9.00,10,327,111,4,4.0,4.5,9.00,1,0.84
9.10,11,328,112,4,4.0,4.5,9.10,1,0.78
8.00,12,307,109,3,4.0,3.0,8.00,1,0.62
8.20,13,311,104,3,3.5,2.0,8.20,1,0.61
8.30,14,314,105,3,3.5,2.5,8.30,0,0.54
8.70,15,317,107,3,4.0,3.0,8.70,0,0.66
8.00,16,319,106,3,4.0,3.0,8.00,1,0.65
8.80,17,318,110,3,4.0,3.0,8.80,0,0.63
8.50,18,303,102,3,3.5,3.0,8.50,0,0.62
8.40,19,325,114,4,3.0,2.0,8.40,0,0.70
9.50,20,328,116,5,5.0,5.0,9.50,1,0.94
9.70,21,334,119,5,5.0,4.5,9.70,1,0.95
9.80,22,336,119,5,4.0,3.5,9.80,1,0.97
8.80,23,322,109,5,4.5,3.5,8.80,0,0.76
7.50,24,298,98,2,1.5,2.5,7.50,1,0.44
7.20,25,295,93,1,2.0,2.0,7.20,0,0.46
7.30,26,310,99,2,1.5,2.0,7.30,0,0.54
8.10,27,300,97,2,3.0,3.0,8.10,1,0.65
8.30,28,327,103,3,4.0,4.0,8.30,1,0.74
9.40,29,338,118,4,3.0,4.5,9.40,1,0.91
9.60,30,340,114,5,4.0,4.0,9.60,1,0.90
...,...,...,...,...,...,...,...,...,...
8.24,356,310,103,2,2.5,2.5,8.24,0,0.72
9.22,357,324,110,3,3.5,3.0,9.22,1,0.89
9.62,358,336,119,4,4.5,4.0,9.62,1,0.95
8.54,359,321,109,3,3.0,3.0,8.54,1,0.79
7.65,360,315,105,2,2.0,2.5,7.65,0,0.39
7.66,361,304,101,2,2.0,2.5,7.66,0,0.38
7.43,362,297,96,2,2.5,2.0,7.43,0,0.34
7.56,363,290,100,1,1.5,2.0,7.56,0,0.47
7.65,364,303,98,1,2.0,2.5,7.65,0,0.56
8.43,365,311,99,1,2.5,3.0,8.43,1,0.71
8.84,366,322,104,3,3.5,4.0,8.84,1,0.78
8.67,367,319,105,3,3.0,3.5,8.67,1,0.73
9.15,368,324,110,4,4.5,4.0,9.15,1,0.82
8.26,369,300,100,3,3.0,3.5,8.26,0,0.62
9.74,370,340,113,4,5.0,5.0,9.74,1,0.96
9.82,371,335,117,5,5.0,5.0,9.82,1,0.96
7.96,372,302,101,2,2.5,3.5,7.96,0,0.46
8.10,373,307,105,2,2.0,3.5,8.10,0,0.53
7.80,374,296,97,2,1.5,2.0,7.80,0,0.49
8.44,375,320,108,3,3.5,4.0,8.44,1,0.76
8.24,376,314,102,2,2.0,2.5,8.24,0,0.64
8.65,377,318,106,3,2.0,3.0,8.65,0,0.71
9.12,378,326,112,4,4.0,3.5,9.12,1,0.84
8.76,379,317,104,2,3.0,3.0,8.76,0,0.77
9.23,380,329,111,4,4.5,4.0,9.23,1,0.89
9.04,381,324,110,3,3.5,3.5,9.04,1,0.82
9.11,382,325,107,3,3.0,3.5,9.11,1,0.84
9.45,383,330,116,4,5.0,4.5,9.45,1,0.91
8.78,384,312,103,3,3.5,4.0,8.78,0,0.67
9.66,385,333,117,4,5.0,4.0,9.66,1,0.95

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [29]:
#admissions(admissions["CGPA"]>9)&admissions(admissions["Reserarch"]==1)

#ad[(ad['G']>9) & (ad['R'] >= 1)]

#admissions[admissions(["CGPA"]>9)]&admissions[admissions(["Reserarch"]>0)]
admissions[(admissions["CGPA"] > 9) & (admissions["Research"] > 0)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
CGPA,,,,,,,,,
9.65,1,337,118,4,4.5,4.5,9.65,1,0.92
9.34,5,330,115,5,4.5,3.0,9.34,1,0.90
9.10,11,328,112,4,4.0,4.5,9.10,1,0.78
9.50,20,328,116,5,5.0,5.0,9.50,1,0.94
9.70,21,334,119,5,5.0,4.5,9.70,1,0.95
9.80,22,336,119,5,4.0,3.5,9.80,1,0.97
9.40,29,338,118,4,3.0,4.5,9.40,1,0.91
9.60,30,340,114,5,4.0,4.0,9.60,1,0.90
9.80,31,331,112,5,4.0,5.0,9.80,1,0.94
9.20,32,320,110,5,5.0,5.0,9.20,1,0.88
9.40,41,326,113,5,4.5,4.0,9.40,1,0.91
9.10,42,322,110,5,5.0,4.0,9.10,1,0.88
9.30,43,329,114,5,4.0,5.0,9.30,1,0.86
9.22,65,318,109,3,3.5,4.0,9.22,1,0.68
9.16,66,328,115,4,4.5,4.0,9.16,1,0.78
9.64,67,332,118,5,5.0,5.0,9.64,1,0.94
9.76,68,336,112,5,5.0,5.0,9.76,1,0.96
9.45,69,321,111,5,5.0,5.0,9.45,1,0.93
9.04,70,314,108,4,4.5,4.0,9.04,1,0.84
9.50,78,340,120,4,5.0,5.0,9.50,1,0.96
9.22,79,320,110,5,5.0,4.5,9.22,1,0.92
9.36,80,322,115,5,4.0,4.5,9.36,1,0.92
9.45,81,340,115,5,4.5,4.5,9.45,1,0.94
9.24,94,332,119,4,5.0,4.5,9.24,1,0.90
9.05,100,326,112,3,3.5,3.0,9.05,1,0.74
9.18,102,329,111,4,4.5,4.5,9.18,1,0.87
9.46,103,338,117,4,3.5,4.5,9.46,1,0.91
9.38,104,331,116,5,5.0,5.0,9.38,1,0.93
9.04,111,310,106,4,4.5,4.5,9.04,1,0.66
9.56,116,335,117,5,5.0,5.0,9.56,1,0.94
...,...,...,...,...,...,...,...,...,...
9.04,232,325,114,3,3.5,3.0,9.04,1,0.76
9.02,234,328,110,4,4.0,2.5,9.02,1,0.81
9.68,242,335,115,4,4.5,4.5,9.68,1,0.93
9.34,247,331,119,4,5.0,4.5,9.34,1,0.90
9.13,248,327,108,5,5.0,3.5,9.13,1,0.87
9.45,264,329,113,5,5.0,4.5,9.45,1,0.89
9.11,269,317,110,3,4.0,4.5,9.11,1,0.80
9.66,272,340,112,4,5.0,4.5,9.66,1,0.94
9.26,273,331,116,5,4.0,4.0,9.26,1,0.93
9.19,274,336,118,5,4.5,4.0,9.19,1,0.92
9.08,275,324,114,5,5.0,4.5,9.08,1,0.89
9.24,286,330,114,3,4.5,4.5,9.24,1,0.90
9.10,294,323,110,3,4.0,3.5,9.10,1,0.79
9.18,299,328,108,4,4.5,4.0,9.18,1,0.84
9.14,312,326,116,3,3.5,4.0,9.14,1,0.81
9.47,323,332,118,5,5.0,5.0,9.47,1,0.94
9.54,347,334,116,4,4.0,3.5,9.54,1,0.93
9.23,348,338,115,5,4.5,5.0,9.23,1,0.91
9.17,351,330,114,4,4.5,3.0,9.17,1,0.86
9.22,357,324,110,3,3.5,3.0,9.22,1,0.89
9.62,358,336,119,4,4.5,4.0,9.62,1,0.95
9.15,368,324,110,4,4.5,4.0,9.15,1,0.82
9.74,370,340,113,4,5.0,5.0,9.74,1,0.96
9.82,371,335,117,5,5.0,5.0,9.82,1,0.96
9.12,378,326,112,4,4.0,3.5,9.12,1,0.84
9.23,380,329,111,4,4.5,4.0,9.23,1,0.89
9.04,381,324,110,3,3.5,3.5,9.04,1,0.82
9.11,382,325,107,3,3.0,3.5,9.11,1,0.84
9.45,383,330,116,4,5.0,4.5,9.45,1,0.91
9.66,385,333,117,4,5.0,4.0,9.66,1,0.95

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [30]:
filtrado=admissions[(admissions["CGPA"] > 9) & (admissions["SOP"] <3.5)]
fin=filtrado['Chance of Admit '].mean()
fin

0.8019999999999999