# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [39]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [40]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [41]:
# Tu código aquí

import pandas as pd
import numpy as np

lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

serie = pd.Series(lst)

print(serie)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [42]:
# Tu código aquí

import pandas as pd
import numpy as np

lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

serie = pd.Series(lst)

print(serie[2])

74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [43]:

b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

serie = pd.DataFrame(b)

print(serie)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [44]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [45]:
# Tu código aquí

b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

serie = pd.DataFrame(b)

serie.columns = {"Que", "Paso", "Muy", "Buenas", "Tardes"}

print(serie)

    Que   Muy  Buenas  Paso  Tardes
0  53.1  95.0    67.5  35.0    78.4
1  61.3  40.8    30.8  37.8    87.6
2  20.6  73.2    44.2  14.6    91.8
3  57.4   0.1    96.1   4.2    69.5
4  83.6  20.5    85.4  22.8    35.9
5  49.0  69.0     0.1  31.8    89.1
6  23.3  40.7    95.0  83.8    26.9
7  27.6  26.4    53.8  88.8    68.5
8  96.6  96.4    53.4  72.4    50.1
9  73.7  39.0    43.2  81.6    34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [46]:
# Tu código aquí

b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

serie = pd.DataFrame(b)

new_serie= serie.iloc[:, [0, 2, 4]]

print(new_serie)

      0     2     4
0  53.1  67.5  78.4
1  61.3  30.8  87.6
2  20.6  44.2  91.8
3  57.4  96.1  69.5
4  83.6  85.4  35.9
5  49.0   0.1  89.1
6  23.3  95.0  26.9
7  27.6  53.8  68.5
8  96.6  53.4  50.1
9  73.7  43.2  34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [47]:
# Tu código aquí

b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

serie = pd.DataFrame(b)

median = (serie.iloc[:, [2]]).median()

print(median)

2    53.6
dtype: float64

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [48]:
# Tu código aquí

b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

serie = pd.DataFrame(b)

max_v = (serie.iloc[:, [3]]).max()

print(max_v)

3    88.8
dtype: float64

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [49]:
# Tu código aquí

b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

serie = pd.DataFrame(b)

mean = (serie.iloc[:, [1]]).mean()

print(mean)

1    50.11
dtype: float64

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [50]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [51]:
# Tu código aquí

orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

df = pd.DataFrame(orders)

df

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [52]:
# Tu código aquí

orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

df = pd.DataFrame(orders)

total_sales = df['Quantity'].sum()
total_revenue = df['Revenue'].sum()

print(f"Total Sales: {total_sales}")
print(f"Total Revenue: {total_revenue}")

Total Sales: 2978
Total Revenue: 637.0

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [53]:
# Tu código aquí

orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

df = pd.DataFrame(orders)

mi = df['UnitPrice'].min()
ma = df['UnitPrice'].max()

print(f"Mas barato: {mi}")
print(f"Mas caro: {ma}")
print(f"Diferencia: {ma - mi}")

Mas barato: 0.18
Mas caro: 11.95
Diferencia: 11.77

## Carguemos otro conjunto de datos para más ejercicios

In [54]:
# Tu código aquí
admissions = pd.read_csv('../Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [55]:
# Tu código aquí

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [56]:
# Tu código aquí

print("Número de datos faltantes por columna:")
print(admissions.isnull().sum())

print("\nResumen de datos faltantes en el DataFrame:")
print(admissions.isnull().sum().sum())

Número de datos faltantes por columna:
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Resumen de datos faltantes en el DataFrame:
0

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [57]:
# Tu código aquí

admissions.set_index('Serial No.', drop=False, inplace=True)

# Mostrar las primeras filas del DataFrame para verificar
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

In [58]:
# Tu código aquí

admissions.set_index('GRE Score', drop=False, inplace=True)
admissions.sort_index(inplace=True) 
# Mostrar las primeras filas del DataFrame para verificar
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,,,,,,,,,
290,113,290,104,4,2.0,2.5,7.46,0,0.45
290,363,290,100,1,1.5,2.0,7.56,0,0.47
293,162,293,97,2,2.0,4.0,7.80,1,0.64
294,260,294,95,1,1.5,1.5,7.64,0,0.49
294,76,294,93,1,1.5,2.0,7.36,0,0.46

In [59]:
# Tu código aquí

admissions.set_index('CGPA', drop=False, inplace=True)
admissions.sort_index(inplace=True)
# Mostrar las primeras filas del DataFrame para verificar
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
CGPA,,,,,,,,,
6.80,55,300,99,1,3.0,2.0,6.80,1,0.36
7.20,25,295,93,1,2.0,2.0,7.20,0,0.46
7.25,334,302,99,1,2.0,2.0,7.25,0,0.57
7.28,114,296,99,2,3.0,3.5,7.28,0,0.47
7.30,26,310,99,2,1.5,2.0,7.30,0,0.54

In [60]:
# Tu código aquí

admissions.set_index('Serial No.', drop=False, inplace=True)
admissions.sort_index(inplace=True)
# Mostrar las primeras filas del DataFrame para verificar
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [61]:
# Tu código aquí

admissions = admissions[admissions['CGPA'] >= 9.0]

admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
5,5,330,115,5,4.5,3.0,9.34,1,0.90
10,10,327,111,4,4.0,4.5,9.00,1,0.84
11,11,328,112,4,4.0,4.5,9.10,1,0.78
20,20,328,116,5,5.0,5.0,9.50,1,0.94
...,...,...,...,...,...,...,...,...,...
380,380,329,111,4,4.5,4.0,9.23,1,0.89
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
385,385,333,117,4,5.0,4.0,9.66,1,0.95

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [62]:
# Tu código aquí

admissions = admissions[admissions['CGPA'] >= 9.0]
admissions = admissions[admissions['SOP'] < 3.5]

admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
29,29,338,118,4,3.0,4.5,9.40,1,0.91
63,63,327,114,3,3.0,3.0,9.02,0,0.61
141,141,326,114,3,3.0,3.0,9.11,1,0.83
218,218,324,111,4,3.0,3.0,9.01,1,0.82
240,240,316,99,2,2.5,3.0,9.00,0,0.70
382,382,325,107,3,3.0,3.5,9.11,1,0.84