# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [1]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
# Creo la serie de Pandas:
serie = pd.Series(lst)

# Muestro la serie:
print(serie)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [5]:
# Obtengo el tercer valor (índice 2):
tercer_valor = serie[2]

# Muestro el resultado:
print("El tercer valor de la Serie es:", tercer_valor)

El tercer valor de la Serie es: 74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [6]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [7]:
# Creo el DataFrame de Pandas:
df = pd.DataFrame(b)

# Mouestro el DataFrame:
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [8]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [9]:
# Lista de nombres para las columnas:
column_names = ["A", "B", "C", "D", "E"]

# Asigno nombres a las columnas del DataFrame:
df.columns = column_names

# Muestro el DataFrame renombrado:
print(df)

      A     B     C     D     E
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [10]:
# Creo un subconjunto con las columnas A, C y E (equivalentes a 1, 3 y 5):
df_subconjunto = df[["A", "C", "E"]]

# Muestro el subconjunto:
print(df_subconjunto)

      A     C     E
0  53.1  67.5  78.4
1  61.3  30.8  87.6
2  20.6  44.2  91.8
3  57.4  96.1  69.5
4  83.6  85.4  35.9
5  49.0   0.1  89.1
6  23.3  95.0  26.9
7  27.6  53.8  68.5
8  96.6  53.4  50.1
9  73.7  43.2  34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [11]:
# Calculo el valor promedio de la columna "C" (Score_3):
promedio_score_3 = df["C"].mean()

# Muestro el resultado:
print("El valor promedio de Score_3 es:", promedio_score_3)

El valor promedio de Score_3 es: 56.95000000000001

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [12]:
# Calculo el valor máximo de la columna "D" (Score_4):
maximo_score_4 = df["D"].max()

# Muestro el resultado:
print("El valor máximo de Score_4 es:", maximo_score_4)

El valor máximo de Score_4 es: 88.8

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [13]:
# Calculo la media de la columna "B" (Score_2):
media_score_2 = df["B"].mean()

# Muestro el resultado:
print("El valor medio de Score_2 es:", media_score_2)

El valor medio de Score_2 es: 50.11

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [14]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [15]:
# Creo el DataFrame:
df_orders = pd.DataFrame(orders)

# Muestro el DataFrame:
print(df_orders)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [16]:
# Calculo la cantidad total pedida:
total_quantity = df_orders["Quantity"].sum()

# Calculo los ingresos totales generados:
total_revenue = df_orders["Revenue"].sum()

# Muestro los resultados:
print("Cantidad total pedida:", total_quantity)
print("Ingresos totales generados:", total_revenue)

Cantidad total pedida: 2978
Ingresos totales generados: 637.0

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [17]:
# Obtengo el precio más caro:
max_price = df_orders["UnitPrice"].max()

# Obtengo el precio más barato:
min_price = df_orders["UnitPrice"].min()

# Calculo la diferencia entre el más caro y el más barato:
price_difference = max_price - min_price

# Muestro los resultados:
print("Precio del artículo más caro:", max_price)
print("Precio del artículo más barato:", min_price)
print("Diferencia de precio:", price_difference)

Precio del artículo más caro: 11.95
Precio del artículo más barato: 0.18
Diferencia de precio: 11.77

## Carguemos otro conjunto de datos para más ejercicios

In [18]:
# Tu código aquí
admissions = pd.read_csv('../Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [19]:
# Muestro las primeras 5 filas del DataFrame:
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [20]:
# Verifico datos faltantes en cada columna:
missing_values = admissions.isnull().sum()

# Muestro los resultados:
print("Datos faltantes por columna:\n", missing_values)

Datos faltantes por columna:
 Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [21]:
# Establezco la columna "Serial No." como índice, sin eliminarla:
admissions = admissions.set_index("Serial No.", drop=False)

# Muestro las primeras filas para verificar el cambio:
print(admissions.head())

            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
1                    1        337          118                  4  4.5   4.5
2                    2        316          104                  3  3.0   3.5
3                    3        322          110                  3  3.5   2.5
4                    4        314          103                  2  2.0   3.0
5                    5        330          115                  5  4.5   3.0

            CGPA  Research  Chance of Admit
Serial No.
1           9.65         1              0.92
2           8.00         1              0.72
3           8.67         1              0.80
4           8.21         0              0.65
5           9.34         1              0.90

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [22]:
# Verifico si la combinación de "GRE Score" y "CGPA" es única:
unique_combinations = admissions.duplicated(subset=["GRE Score", "CGPA"]).sum()

# Muestro el resultado:
if unique_combinations == 0:
    print("Las columnas 'GRE Score' y 'CGPA' identifican de manera única cada fila.")
else:
    print(f"Existen {unique_combinations} filas duplicadas en 'GRE Score' y 'CGPA'.")

Las columnas 'GRE Score' y 'CGPA' identifican de manera única cada fila.

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [26]:
# Filtro los datos donde CGPA > 9 y SOP < 3.5:
filtered_data = admissions[(admissions["CGPA"] > 9) & (admissions["SOP"] < 3.5)]

# Muestro las filas que cumplen la condición:
print("Solicitantes con CGPA > 9 y SOP < 3.5:")
print(filtered_data)

# Calculo la probabilidad media de admisión (Assume "Chance of Admit" es la columna relevante):
average_admission_probability = filtered_data["Chance of Admit "].mean()

# Muestro la probabilidad media de admisión:
print(f"\nProbabilidad media de admisión para estos solicitantes: {average_admission_probability:.4f}")

Solicitantes con CGPA > 9 y SOP < 3.5:
            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
29                  29        338          118                  4  3.0   4.5
63                  63        327          114                  3  3.0   3.0
141                141        326          114                  3  3.0   3.0
218                218        324          111                  4  3.0   3.0
382                382        325          107                  3  3.0   3.5

            CGPA  Research  Chance of Admit
Serial No.
29          9.40         1              0.91
63          9.02         0              0.61
141         9.11         1              0.83
218         9.01         1              0.82
382         9.11         1              0.84

Probabilidad media de admisión para estos solicitantes: 0.8020