# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [4]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [4]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]
series = pd.Series(lst)
print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [7]:
series[2]

74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [9]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

df = pd.DataFrame(b)
df

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

In [10]:
df

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [16]:
# Create df with columns names 
# df = pd.DataFrame(b, columns=['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5'])
# Rename columns by old name
# df = df.rename(columns={0: 'Score_1'})
# force reasign names
df.columns = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']
df

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [21]:
#subsetColumnsRange = list(df.columns)[0:2]

#SubsetColumnsNames
subsetDf = df[['Score_1', 'Score_3', 'Score_5']]
subsetDf

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [22]:
df['Score_3'].mean()

56.95000000000001

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [23]:
df['Score_4'].max()

88.8

### 9. Del DataFrame original, calcula la mediana valor del Score_2.

In [26]:
df['Score_2'].median()

40.75

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [28]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [30]:
df = pd.DataFrame(orders)
df

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [36]:
cantidadTotal = df['Quantity'].sum()
print(f"Cantidad Total pedida = {cantidadTotal}")
ingresosGenerados = df['Revenue'].sum()
print(f"Ingresos generados = {ingresosGenerados}")

Cantidad Total pedida = 2978
Ingresos generados = 637.0

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [40]:
precioArticuloMasCaro = df['UnitPrice'].max()
precioArticuloMasBarato = df['UnitPrice'].min()
diferencia = precioArticuloMasCaro - precioArticuloMasBarato
print(f"Diferencia entre el precio más caro ({precioArticuloMasCaro}) y más barato ({precioArticuloMasBarato}) es de: {diferencia}")

Diferencia entre el precio más caro (11.95) y más barato (0.18) es de: 11.77

## Carguemos otro conjunto de datos para más ejercicios

In [5]:
admissions = pd.read_csv('../Admission_Predict.csv')
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Evaluemos el conjunto de datos mirando la función `head`.

In [6]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [7]:
missingValues = admissions.isnull().sum()
totalMissingValues = missingValues.sum()
print(f"El numero total de valores faltantes es: {totalMissingValues}")

El numero total de valores faltantes es: 0

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [70]:
admissionsNewSerialNoIndex = admissions.set_index('Serial No.', drop=False)
print(type(admissions))
admissionsNewSerialNoIndex

<class 'pandas.core.frame.DataFrame'>

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

In [35]:
isUnique = admissions['GRE Score'].is_unique
thereAreNullValues = admissions['GRE Score'].isnull().any()
thereAreDuplicateValues = admissions['GRE Score'].duplicated().any()

if isUnique and not thereAreDuplicateValues and not thereAreNullValues:
    print("La columna 'GRE Score' también identifica de manera única los datos")
else:
    print("La columna 'GRE Score' no identifica de manera única los datos.")

print(f"Hay valores unicos: {isUnique}")
print(f"Hay valores duplicados: {thereAreDuplicateValues}")
print(f"Hay valores nulos: {thereAreNullValues}")

La columna 'GRE Score' no identifica de manera única los datos.
Hay valores unicos: False
Hay valores duplicados: True
Hay valores nulos: False

In [37]:
isUnique = admissions['CGPA'].is_unique
thereAreNullValues = admissions['CGPA'].isnull().any()
thereAreDuplicateValues = admissions['CGPA'].duplicated().any()

if isUnique and not thereAreDuplicateValues and not thereAreNullValues:
    print("La columna 'CGPA' también identifica de manera única los datos")
else:
    print("La columna 'CGPA' no identifica de manera única los datos.")

print(f"Hay valores unicos: {isUnique}")
print(f"Hay valores duplicados: {thereAreDuplicateValues}")
print(f"Hay valores nulos: {thereAreNullValues}")

La columna 'CGPA' no identifica de manera única los datos.
Hay valores unicos: False
Hay valores duplicados: True
Hay valores nulos: False

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [65]:
rows = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]
print(f"El número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación es de: {rows.shape[0]} filas")
#otra forma obtener los research, transformando el tipo int a bool
#admissions['Research'] = admissions['Research'].transform(bool)
#admissions[admissions["Research"]]

El número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación es de: 101 filas

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [88]:
subData = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]
#print(admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]['Chance of Admit '].mean())
meanValue = subData['Chance of Admit '].mean()
print(f"Las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor de 3.5 son:\n {subData}")
print(f"La probabilidad media de admisión es de {meanValue}")

Las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor de 3.5 son:
      Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
28           29        338          118                  4  3.0   4.5  9.40
62           63        327          114                  3  3.0   3.0  9.02
140         141        326          114                  3  3.0   3.0  9.11
217         218        324          111                  4  3.0   3.0  9.01
381         382        325          107                  3  3.0   3.5  9.11

     Research  Chance of Admit
28          1              0.91
62          0              0.61
140         1              0.83
217         1              0.82
381         1              0.84
La probabilidad media de admisión es de 0.8019999999999999