# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [1]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
# Tu código aquí

lst_serie = pd.Series(lst)

print(lst_serie)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [4]:
# Tu código aquí

lst_serie[2]

74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [6]:
# Tu código aquí

b_df = pd.DataFrame(b)

print(b_df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [20]:
# Tu código aquí

b_df = pd.DataFrame(b, columns=['1', '2', '3', '4', '5'])

print(b_df)

      1     2     3     4     5
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [21]:
# Tu código aquí

sub_b_df = b_df[['1', '3', '5']]

print(sub_b_df)

      1     3     5
0  53.1  67.5  78.4
1  61.3  30.8  87.6
2  20.6  44.2  91.8
3  57.4  96.1  69.5
4  83.6  85.4  35.9
5  49.0   0.1  89.1
6  23.3  95.0  26.9
7  27.6  53.8  68.5
8  96.6  53.4  50.1
9  73.7  43.2  34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [27]:
# Tu código aquí

promedio_3 = b_df['3'].mean()

print(f'El promedio de 3 es: {promedio_3:.1f}')

El promedio de 3 es: 57.0

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [28]:
# Tu código aquí

max_4 = b_df['4'].max()

print(f'El valor máximo de 4 es: {max_4:.1f}')

El valor máximo de 4 es: 88.8

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [29]:
# Tu código aquí

mediana_2 = b_df['2'].median()

print(f'La mediana de 2 es: {mediana_2:.1f}')

La mediana de 2 es: 40.8

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [30]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [31]:
# Tu código aquí

orders_df = pd.DataFrame(orders)

print(orders_df)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [34]:
# Tu código aquí

total_pedidos = orders_df['Quantity'].sum()
ingresos_generados = orders_df['Revenue'].sum()

print(f'La cantidad total pedida es: {total_pedidos:} artículos')
print(f'Y los ingresos generados a partir de esos pedidos son de: {ingresos_generados:.2f}$')

La cantidad total pedida es: 2978 artículos
Y los ingresos generados a partir de esos pedidos son de: 637.00$

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [37]:
# Tu código aquí

mas_caro = orders_df['UnitPrice'].max()
mas_barato = orders_df['UnitPrice'].min()
diferencia = mas_caro - mas_barato

print(f'El producto más caro cuesta: {mas_caro:.2f}$,') 
print(f'el más barato cuesta: {mas_barato:.2f}$,') 
print(f'y la diferencia entre ambos es de: {diferencia:.2f}$')

El producto más caro cuesta: 11.95$,
el más barato cuesta: 0.18$,
y la diferencia entre ambos es de: 11.77$

## Carguemos otro conjunto de datos para más ejercicios

In [46]:
# Tu código aquí
admissions = pd.read_csv('../Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [47]:
# Tu código aquí

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [48]:
# Tu código aquí

admissions.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

No hay datos nulos.

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [49]:
# Tu código aquí

admissions = admissions.set_index('Serial No.', drop=False)

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

#### Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

In [50]:
# Tu código aquí

es_unico = not admissions.duplicated(subset=['GRE Score', 'CGPA']).any()

print(f"¿GRE Score y CGPA identifican de manera única los datos?: {es_unico}")

¿GRE Score y CGPA identifican de manera única los datos?: True

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [56]:
# Tu código aquí

num_filas1 = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].shape[0]
total_filas = admissions.shape[0]

print(f"El número de filas donde CGPA es mayor a 9 y el estudiante ha realizado una investigación es de {num_filas1} de un total de {total_filas} filas.")

El número de filas donde CGPA es mayor a 9 y el estudiante ha realizado una investigación es de 101 de un total de 385 filas.

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [57]:
# Tu código aquí

num_filas2 = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)].shape[0]

print(f"El número de filas donde CGPA es mayor a 9 y la puntuación SOP es menor a 3.5 es de {num_filas2} de un total de {total_filas} filas.")

El número de filas donde CGPA es mayor a 9 y la puntuación SOP es menor a 3.5 es de 5 de un total de 385 filas.

In [60]:
# Tu código aquí

filtrado = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

probabilidad_admision = filtrado['Chance of Admit '].mean()

print(f"La probabilidad media de admisión para estos solicitantes es de: {probabilidad_admision:.2f}")

La probabilidad media de admisión para estos solicitantes es de: 0.8019999999999999